<div class="main-content">
    <div class="container-fluid">


        <div class="" style="background-color: #ecf2ff; border-radius: 10px; ">
            <div class="row">
                <div class="col-sm-9" style=" padding: 30px;">
                    <h4 class="page-title m-0 f-s-20 f-w-600 m-b-16"
                        style="margin: 0 !important; margin-bottom: 40px; font-weight: bold; font-family: Plus Jakarta Sans, sans-serif; font-size: 20px !important;">
                        Job Openings</h4>
                    <div class="d-flex align-items-top overflow-hidden" style="margin-top: 20px; color: #626263;">
                        Create and showcase all Job Openings</div>
                </div>
                <div class="col-sm-3 text-right position-relative">
                    <div class="breadcrumb-icon" style="overflow: hidden; margin-left: 20px;">
                        <img src="assets/img/card/ChatBc.png" alt="breadcrumb" width="210"
                            style="margin-bottom: -75px;">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-md-12 ">
                <div class="card">
                    <div class="card-body">
                        <ul class="stepper">
                            <li [ngClass]="{ 'active': currentStep === 1 }" (click)="changeStep(1)">
                                <div class="row">

                                    <div class="col-md-12"
                                        style="font-family: Plus Jakarta Sans, sans-serif; font-size: large;">
                                        <span class="step-name">Create Job Openging</span>
                                    </div>
                                </div>

                            </li>

                        </ul>
                        <div class="step-content">
                            <div *ngIf="currentStep === 1">
                                
                                <div class="p-16 bg-light-primary rounded">
                                    <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                        style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                                        <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex" _nghost-ng-c2605515766=""><svg
                                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                                <path d="M12 9h.01"></path>
                                                <path d="M11 12h1v4h1"></path>
                                            </svg>
        
        
                                        </i-tabler>Job Opening Information </h5>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onTitleFocus()" (blur)="onTitleBlur()"
                                                [placeholder]="isTitleFocused ? '' : ''" [(ngModel)]="TitleValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isTitleFocused || TitleValue}">Posting Title
                                                *</label>
                                            <span class="outline"></span>
                                        </div>

                                    </div>

                                    <div class="col-md-6">

                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onDepartmentFocus()" (blur)="onDepartmentBlur()"
                                                [placeholder]="isDepartmentFocused ? ' ' : ''"
                                                [(ngModel)]="DepartmentValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isDepartmentFocused || DepartmentValue}">Department
                                                Name</label>
                                            <span class="outline"></span>
                                        </div>


                                    </div>
                                </div>


                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onlocationFocus()" (blur)="onlocationBlur()"
                                                [placeholder]="islocationFocused ? '' : ''"
                                                [(ngModel)]="locationValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': islocationFocused || locationValue}">Job
                                                Location</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <!-- <label for="employmentType" class="form-label">Employment Type</label> -->
                                            <select id="employmentType" class="form-control custom-input"
                                                [(ngModel)]="TypeValue" (focus)="onTypeFocus()"
                                                (blur)="onTypeBlur()">
                                                <!-- <option value="" disabled selected>Select Employment Type</option> -->
                                                <option value="full-time">Full Time</option>
                                                <option value="part-time">Part Time</option>
                                                <option value="contract">Contract</option>
                                                <option value="internship">Internship</option>
                                                <option value="temporary">Temporary</option>
                                                <option value="freelance">Freelance</option>
                                            </select>
                                            <label for="customInput"
                                                [ngClass]="{'active': isTypeFocused || TypeValue}">Employment
                                                Type</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onSalaryFocus()" (blur)="onSalaryBlur()"
                                                [placeholder]="isSalaryFocused ? '' : ''" [(ngModel)]="SalaryValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isSalaryFocused || SalaryValue}">Salary
                                                Range</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="date" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onDeadlineFocus()" (blur)="onDeadlineBlur()"
                                                [placeholder]="isDeadlineFocused ? '' : ''"
                                                [(ngModel)]="DeadlineValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isDeadlineFocused || DeadlineValue}">Application
                                                Deadline</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                    
                                    
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onExperienceFocus()" (blur)="onExperienceBlur()"
                                                [placeholder]="isExperienceFocused ? '' : ''"
                                                [(ngModel)]="ExperienceValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isExperienceFocused || ExperienceValue}">Work
                                                Experience</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onRequiredQualificationsFocus()"
                                                (blur)="onRequiredQualificationsBlur()"
                                                [placeholder]="isRequiredQualificationsFocused ? '' : ''"
                                                [(ngModel)]="RequiredQualificationsValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isRequiredQualificationsFocused || RequiredQualificationsValue}">Required
                                                Qualifications</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onClientFocus()" (blur)="onClientBlur()"
                                                [placeholder]="isClientFocused ? '' : ''" [(ngModel)]="ClientValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isClientFocused || ClientValue}">Client</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group" style="margin-top: 5px;">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onPreferredQualificationsFocus()"
                                                (blur)="onPreferredQualificationsBlur()"
                                                [placeholder]="isPreferredQualificationsFocused ? '' : ''"
                                                [(ngModel)]="PreferredQualificationsValue" />
                                            <label for="customInput"
                                                [ngClass]="{'active': isPreferredQualificationsFocused || PreferredQualificationsValue}">Preferred
                                                Qualifications</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                </div>

                               
                                <div *ngIf="currentStep === 1">
                                
                                    <div class="p-16 bg-light-primary rounded">
                                        <h5 class="mat-subtitle-2 text-primary d-flex align-items-center f-w-600"
                                            style="font-family: Plus Jakarta Sans, sans-serif; margin-top: 6px; font-size: large;">
                                            <i-tabler name="info-circle" class="icon-20 m-r-8 d-flex" _nghost-ng-c2605515766=""><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                    <path d="M3 12a9 9 0 1 0 18 0a9 9 0 0 0 -18 0"></path>
                                                    <path d="M12 9h.01"></path>
                                                    <path d="M11 12h1v4h1"></path>
                                                </svg>
            
            
                                            </i-tabler>Description Information </h5>
                                    </div>
                                    <br>

                                <div class="row">
                                    <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group" style="margin-bottom: 30px;">
                                            <label>Job Description</label>
                                    
                                            <!-- New button next to the Job Description label -->
                                            <button  class="btn btn-info btn-glitter" style="color: #ccd3e6; margin-left: 150px; background-color: #1c455d!important; border: 2px solid #5d87ff;">
                                                <i class="bi bi-robot" style="margin-right: 10px;"></i>Generate
                                            </button>
                                            
                                            
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <textarea class="form-control text-area" id="customInput" #customInput
                                                (focus)="onDescriptionFocus()" (blur)="onDescriptionBlur()"
                                                [placeholder]="isDescriptionFocused ? '' : ''"
                                                [(ngModel)]="DescriptionValue" rows="5"
                                                style="resize: vertical;"></textarea> 
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                    <!-- <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <div 
                                                [innerHTML]="getFormattedDescription()" 
                                                class="text-area" 
                                                style="resize: vertical; margin-top: 5px; border: 1px solid rgba(0,0,0,0.1); padding: 10px; border-radius: 5px;">
                                            </div>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                     -->
                                    <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group" style="margin-bottom: 30px;">
                                            <label>Responsibilities</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <textarea class="form-control text-area" id="customInput" #customInput
                                                (focus)="onResponsibilitiesFocus()" (blur)="onResponsibilitiesBlur()"
                                                [placeholder]="isResponsibilitiesFocused ? '' : ''"
                                                [(ngModel)]="ResponsibilitiesValue" rows="5"
                                                style="resize: vertical;"></textarea> <!-- Changed to textarea -->
                                            <span class="outline"></span>
                                        </div>
                                    </div>

                                    <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group" style="margin-bottom: 30px;">
                                            <label>Required Skills</label>
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-12" style="margin-top: -10px;">
                                        <div class="form-group">
                                            <input type="text" class="form-control custom-input" id="customInput"
                                                #customInput (focus)="onSkillsFocus()" (blur)="onSkillsBlur()"
                                                [placeholder]="isSkillsFocused ? '' : ''" [(ngModel)]="SkillsValue" />
                                            <span class="outline"></span>
                                        </div>
                                    </div>
                                </div>



                                <div *ngIf="errorMessage" class="text-danger mt-2">{{ errorMessage }}</div>

                                <div class="text-center">
                                    <button mat-flat-button="" color="primary" matsteppernext=""
                                        class="mat-stepper-next mdc-button mdc-button--unelevated mat-mdc-unelevated-button mat-primary mat-mdc-button-base"
                                        mat-button-is-fab="false" type="submit" 
                                        style="background-color: #13deb9; border-radius: 7px;">
                                        <span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span>
                                        <span class="mdc-button__label">Submit</span>
                                    </button>
                                </div>

                            </div>

                        </div>
                        <div class="d-flex align-items-center justify-content-between">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>